body{
    background-color: rgb(251, 207, 229);
    align-items: center;
    text-align: center;
    width : 100%;
}
h1{
    text-align: center;
    align-items: center;
    color : Black;
    font-size: 50px;
    padding-bottom: 0%;
}
h2{
    text-align: center;
    align-items: center;
    color : Black;
    font-size: 30px;
}

.grid{
    display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 5px;
}
.grid .cls{
    width : 150px;
}

#timer{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(167, 32, 167);
    border-radius: 10px;
    border-color: chocolate;
    padding: 10px;
    margin-left: 20px;
    border-width: 10px;
}

#score{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(167, 32, 167);
    border-radius: 10px;
    border-color: chocolate;
    padding: 10px;
    margin-left: 20px;
    border-width: 10px;
}

.top{
    display: flex;
    align-items: center;
    gap: 430px;
    margin-left: 10px;
}

#nextLevel{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(167, 32, 167);
    border-radius: 10px;
    border-color: chocolate;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-width: 10px;
}
